header {
  background-color: #19256b;
  height: 100px;
}

body {
  background-image: url("03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a.site-title {
  color: #fff !important;
  font-size: 50px;
  padding-top: 20px;
}
